.container {
  @media screen and (min-width: 960px) {
    padding-left: 50px;
  }
}

.top-1 {
  background-color: #FFECB3 !important;
}

.top-2 {
  background-color: #F5F5F5 !important;
}

.top-3 {
  background-color: #D7CCC8 !important;
}
