.container {
  @media screen and (min-width: 960px) {
    padding-left: 50px;
  }
}

.gold {
  background-color: #FFECB3 !important;
}

.silver {
  background-color: #F5F5F5 !important;
}

.bronze {
  background-color: #D7CCC8 !important;
}
