.calendar-icon {
  display: block;
  width: 65px;
  margin-bottom: 8px;
  text-align: center;
  box-shadow: 0 0 3px #ccc;
}

.calendar-icon-month {
  background: #B71C1C;
  padding: 0.3rem 0 0.1rem;
  color: #ffffff !important;
  font-size: 0.75rem !important;
  font-weight: bold !important;
}

.calendar-icon-day {
  padding: 0.2rem 0 0;
  font-size: 1.75rem !important;
}

.calendar-icon-dow {
  color: #757575 !important;
  font-size: 0.75rem !important;
}
