.card {
  display: flex;
}

.card-content {
  flex: 1;
  padding-bottom: 16px !important;
}

.info {
  min-height: calc(100% - 48px);
}

.actions {
  text-align: right;
}

.details {
  color: #78909C !important;
}
