.wrap {
  position: relative;
}

.container {
  position: absolute;
}

.navigation {
  text-align: center;
  padding-bottom: 20px;
}

.button {
  width: 30px !important;
  height: 30px !important;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.active {
  background-color: #E0E0E0 !important;
}
