.container {
  display: flex;
}

.side {
  padding-right: 20px;
}

.main {
  flex: 1;

  &.not-signed-in {
    @media screen and (min-width: 600px) and (max-width: 960px) {
      padding-left: 28px;
    }

    @media screen and (min-width: 960px) {
      padding-left: 58px;
    }
  }
}

.navigation {
  text-align: center;
  padding-bottom: 20px;
}

.button {
  width: 30px !important;
  height: 30px !important;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.active {
  background-color: #E0E0E0 !important;
}
