%alert {
  max-width: 350px !important;
}

.alert-success {
  @extend %alert;
  background-color: #DCEDC8 !important;
  color: #33691E !important;
}

.alert-error {
  @extend %alert;
  background-color: #D32F2F !important;
  color: #FFFFFF !important;
}
