%alert {
  max-width: 350px !important;
}

.alert-success {
  @extend %alert;
  background-color: #DCEDC8 !important;
  color: #33691E !important;
}

.alert-error {
  @extend %alert;
  background-color: #FF8A80 !important;
  color: #B71C1C !important;
}
